@import '~antd/dist/antd.css';

.m20 { margin-top: 20px; margin-bottom: 20px; }
.mb20 { margin-bottom: 20px; }

.ant-input {
  margin-bottom: 10px;
}

.ant-row-flex {
  padding: 0 32px;
}

.grid.ant-row-flex > div {
  display: flex;
  align-items: center;
}

.grid-first-col,
.grid-col {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-first-col {
  justify-content: flex-start;
}

.divider {
  border-bottom: 2px solid hsla(0, 0%, 90%, 1);
}
