@import '~antd/dist/antd.css';

.ant-input {
  margin-bottom: 10px;
}

.ant-row-flex {
  padding: 0 32px;
}

.grid-first-col,
.grid-col {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-first-col {
  justify-content: flex-start;
}

.divider {
  border-bottom: 2px solid hsla(0, 0%, 90%, 1);
}
